site
.pytest*
__pycache__
settings.json
.devcontainer/configuration.yaml
node_modules
custom_components/hacs
manage/secrets.json
# dependencies
/node_modules
.coverage
coverage.xml
.vscode
.github
.devcontainer/configuration.yaml